@tailwind base;
@tailwind components;
@tailwind utilities;

.sans-serif {
  font-family: "Oswald", sans-serif;
}

.sans-serif-2 {
  font-family: "Inter", sans-serif;
}

.sans-serif-3 {
  font-family: "Lora", sans-serif;
}

.bg-line-pattern-gray {
  background: repeating-linear-gradient(
    -45deg,
    #cbd5e0,
    #cbd5e0 1px,
    transparent 0,
    transparent 8px
  );
}

.grid-blue {
  background-image: radial-gradient(#e2e8f0 3px, transparent 3px);
  background-size: 24px 24px;
}

.slide-enter,
.slide-leave-to {
  opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
  transition: opacity 0.4s;
}

.shadow-tag {
  box-shadow: 5px 6px 0px#000000;
}
