@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-blue {
  background-image: radial-gradient(#e2e8f0 3px, transparent 3px);
  background-size: 24px 24px;
}

.router-link-active.base-button {
  color: text-white !important;
}
